{% extends "layout.html" %}
{% block body %}
<h3>{% if name == '' %} All agents {% else %} Agents with names like '{{name}}' {% endif %} <small>({{agents.total}} total)</small></h3>
  {% if agents %}
  <h4>{{ agents.items[0].name }} to {{ agents.items[-1].name }}</h4> 
    {% if agents.has_prev %}
    <a href="{% if name == '' %}{{ url_for('show_agents',page=agents.prev_num) }}{% else %}{{ url_for('show_agents',page=agents.prev_num,name=name) }}{%endif%}">Previous</a>
    {% endif %}
    {% if agents.has_next %}
    <a href="{% if name == '' %}{{ url_for('show_agents',page=agents.next_num) }}{% else %}{{ url_for('show_agents',page=agents.next_num,name=name) }}{%endif%}">Next</a>
    {% endif %}
    <ul>
    {% for agent in agents.items %}
      {% if agent.name %}
      <li>
        <a href='{{ url_for("show_agent",name=agent.name) }}'> 
          {{agent.name}}, id # {{agent.id}}
        </a>
      </li>
      {% endif %}
    {% endfor %}
    </ul>
  {% else %}
  <h3>No agents found!</h3>
  {% endif %}
{% endblock %}
