{% extends "layout.html" %}
{% block body %}
<h2>{{ agent.name }}<small>(# {{agent.id}})</h2></small>
  <ul>
    <li>Born: {{agent.birth_date or 'None Given'}}</li>
    <li>Died: {{agent.death_date or 'None Given'}}</li>
    <li>
      {% if agent.wiki_page %}
      <a href={{agent.wiki_page}}>wiki</a>
      {% else %}
      No known wiki page
      {% endif %}
    </li>
    {% if agent.aliases.all() %}
    <li>Known Aliases: 
      <ul>
        {% for alias in agent.aliases %}
          <li>{{ alias.name }}</li>
        {% endfor %}
      </ul>
    </li>
    {% endif %}
    <li>Works:
        <ul>
            {% for work in agent.works %}
            <li>
                <a href='{{url_for('show_work',title=work.title)}}'>
                    {{ work.title }}
                </a>    
            </li>
            {% endfor %}
        </ul>
    </li>
    </ul>
{% endblock %}
