{% extends "layout.html" %}
{% block body %}
<h2>{{ work.title }}<small>(# {{work.id}})</small></h2>
  <dl>
      <dt>
        Agents:
      </dt>
      <dd>  
        {% for agent in work.agents %}
        {% if agent.name %}
            <li>
                <a href='{{ url_for("show_agent",name=agent.name) }}'> 
                     {{agent.name}}, id # {{agent.id}}
                </a>
                </li>
        {% endif %}
         {% endfor %}
         </ul>
      </dd>
      <dt>
        LCC:
      </dt>
      <dd>
        {{ work.call_number }}
      </dd>
      <dt>
        LCSH:
      </dt>
      <dd>
        <ul>
        {% for LCSH in work.LCSH %}
            <li>
                <a href='{{ url_for("show_LCSH",subject_heading=LCSH.subject_heading) }}'>
                     {{ LCSH.subject_heading }}
                 </a>
            </li>
        {% endfor %}
        </ul>
      </dd>
      <dt>
        NLP Data
      </dt>
      <dd>
      <h3>Named Entities</h3>
      {% for ne_type,ne_list in nes.items() %}
        <h4>{{ ne_type }}</h4>
        <table>
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Frequency
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for name,freq in ne_list %}
                <tr>
                    <td>
                        {{ name }}
                    </td>
                    <td>
                        {{ freq }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
      {% endfor %}
      </dd>
    </dl>
{% endblock %}
